<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <title>{{ title }}</title>
    <style>
    
    div {
    display: block;
    }

    
    .paper {   /*整个树*/
    margin: 30px auto 20px;
    max-width: 720px;
    padding: 30px 50px 200px 50px;
    background: #FFF;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x :scroll;
    }

    .tree-line {  
    cursor: text;
    }

    .myinput {
        BACKGROUND-COLOR: transparent;
        border: none;
        
    }
    .myinput_title {
        BACKGROUND-COLOR: transparent;
        margin: auto 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0
    }

    .node-first-children{
    position:relative;
    left:0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 4px;
    }
    .node-children{
    border-left: 1px solid #00aaff;
    margin-left: 5px;
    padding-left: 15px;
    padding-bottom: 4px;
    }
    
    .node-content{
    min-height: 20px;
    position:relative;

    }

    .kaitou{
        position: absolute;
        left: 0px;
        top:6px;
    margin:auto,0;
    display:block;
    border:1px solid #a1a1a1;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;

    }
    .zhongjian{
    display:block;
    position:relative;
    left:12px;
    font-size: 14px;
    width:inherit;
    }


    .node-title{
    display:block;
    margin: auto 0;
    position:relative;
    left:0px;
    border-bottom: 1px solid #e5e6e8;
    
    }

    
    .drag_targ {
    border-bottom-style:dotted;
    border-width:1px;
    }
    .drag_src {
      opacity: 0.9;
      color: red;
    }

    </style>
</head>

<body>
    <div id='app'>
        <h1>{{ title }}</h1>
        <h2>树：</h2>
        <div class="paper">
            <tree :node="rootNode"></tree>
        </div>
        <h2>JSON：</h2>
        <textarea style="width:100%; height:20em;" tabindex="-1">{{ tree_json }}</textarea>
    </div>
</body>
<template id="tree-node-tpl">
<div class="tree-line" draggable="true"
    @dragstart.stop="handleDragStart($event)"
    @drop.stop="handleDrop($event)" 
    
    @dragenter.stop="handleDragEnter($event)" 
    @dragleave="handleDragLeave($event)" 
    @dragend.prevent.stop="handleDragEnd($event)"
    @dragover.stop.prevent="handleDragOver($event)" 
     >
     <!-- 标题 -->
     <div class='node-content' v-if="node.isRoot==true" >  
        <div class="node-title" >
            <div contenteditable v-model="node.name" class='myinput_title' @keydown.stop='handleKeyDown($event)' @click.stop="handeClick($event)" > {{ node.name}}</div>
        </div>
    </div>

    <!-- 正文 -->
    <div class='node-content' v-else>
        <div class="kaitou"></div>
        <div class="zhongjian">
            <div  contenteditable v-model="node.name" class='myinput'  v-text="node.name" @input="node.name=$event.target.innerText" @keydown.stop='handleKeyDown($event)' @click.stop="handeClick($event)">  </div>
        </div>
    </div>

    <!-- 针对标题层下的层调整格式 -->
    <!-- 标题层为root层 -->
    <div  class='node-first-children' v-if="node.children.length>0&&node.isRoot==true">
        <tree-node v-for="node in node.children" :node.sync="node"></tree-node>
    </div>
    <div v-else-if="node.children.length>0" class='node-children'>
        <tree-node v-for="node in node.children" :node.sync="node"></tree-node>
    </div>


</div>
</template>
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<script>
var TreeNode = Vue.extend({
    data: function() {
        return {
            show_oprators: false,
            is_draged: false,
            readonly_op: false,
        }
    },
    name: 'tree-node',
    props: ['node'],
    template: '#tree-node-tpl',
    methods: {
        handeClick:function(e){
            console.log(this.node)
            
            
        },
        handleDrop: function(e) {
            var vm = window.__drop_node__;
            this.$el.children[0].classList.remove('drag_targ')
            //vm.$el.style.backgroundColor = '';
            vm.$el.children[0].classList.remove('drag_targ')
            /*console.log()*/
            var __parent__ = this;
            while (__parent__ !== undefined) {
                if (__parent__ === vm) {
                    return;
                }
                __parent__ = __parent__.$parent;
            }
            var current_node = vm.node;
            vm.$parent.node.children = vm.$parent.node.children.filter(function(node) {
                    return node !== current_node
                })
                //有子节点
            if (this.node.children.length > 0) {
                this.node.children.unshift(current_node)
            } else { //无子节点
                var index = this.$parent.node.children.indexOf(this.node) + 1
                this.$parent.node.children.splice(index, 0, current_node)
            }
        },

        handleDragEnd: function(e) {
            //this.$el.style.backgroundColor = ''
            this.$el.children[0].classList.remove('drag_src')
            this.$el.children[0].classList.remove('drag_targ')
            this.is_draged=false
        },
        handleTest:function(st,e){
            console.log(this.node.name+":"+st)
        },


        handleDragStart: function(e) {
            this.show = false
            this.is_draged = true
            window.__drop_node__ = this
            //this.$el.style.backgroundColor = 'grey'
            this.$el.children[0].classList.add('drag_src')
        },

        is_parent:function(snode){
            function getparent(snode){
                /*console.log(snode.node.name)*/
                parentnode.push(snode.node)
                if (!snode.node.isRoot){
                    getparent(snode.$parent)
                }
                else
                {
                    return
                }
            }
                var parentnode=[]
                var check_parenta=false
                getparent(snode.$parent)
                for(var i=0;i<parentnode.length;i++){
                    if (parentnode[i]==window.__drop_node__.node){
                        check_parenta=true
                        break
                    }
                }
                return check_parenta
            
        },
        handleDragEnter: function(e) {
            //拖动进入的节点不是被拖动元素，同时被拖动元素不是进入节点的祖辈节点
            //显示可加入提示线
            if((window.__drop_node__!=this) && (!this.is_parent(this))){
                /*console.log('---------handleDragEnter--------------')
                console.log(this.node.name+"aaaaaaaaaaaaaaa"+window.__drop_node__.node.name)
                console.log(this)
                console.log('----------------------------')*/
                this.$el.children[0].classList.add('drag_targ')
            }
            
        },
        handleDragLeave: function(e) {
            if(window.__drop_node__!=this){
            /*if(!this.is_draged) this.$el.style.backgroundColor = "";*/
            this.$el.children[0].classList.remove('drag_targ')
        }
        },
        handleDragOver: function(e) {
            //拖动进入的节点不是被拖动元素，同时被拖动元素不是进入节点的祖辈节点
            //显示可加入提示线
            if((window.__drop_node__!=this) && (!this.is_parent(this))){
            this.$el.children[0].classList.add('drag_targ')
             }
            },
        showOprators: function() {
            this.show_oprators = true;
        },
        hideOprators: function() {
            this.show_oprators = false;
        },
        toggle: function() {
            this.readonly_op = false;
        },

        addNode: function() {
            
            
            if(this.node.children.length>0||this.node.isRoot){//是标题元素，或者当前节点有子节点，新增添加当前节点的子节点
            /*    console.log("=======isRoot======")*/
                this.node.children.unshift( {
                    name: '1',
                    children: []
                })
                this.$nextTick(function() {
                    this.$children[0].$el.getElementsByClassName("myinput")[0].focus()
                })
                return
            }

            var index = this.$parent.node.children.indexOf(this.node) + 1
            
            
                 this.$parent.node.children.splice(index, 0, {  //没有子元素，同级添加
                    name: '2',
                    children: []
                });
                 this.$nextTick(function() {
                    this.$parent.$children[index].$el.getElementsByClassName("myinput")[0].focus()
                })

             /*   console.log("have children")
                this.$parent.node.children.splice(index, 0, {
                    name: '================',
                    children: []
                });
                this.$nextTick(function() {
                    this.$parent.$children[index].$el.getElementsByClassName("myinput")[0].focus()
                })
            } else {
                this.$parent.node.children.splice(index, 0, {
                    name: '================',
                    children: []
                });
                this.$nextTick(function() {
                    this.$parent.$children[index].$el.getElementsByClassName("myinput")[0].focus()
                })
            }*/
        },

        removeNode: function() {
            if (confirm('Do you want to remove node: ' + this.node.name)) {
                var current_node = this.node;
                this.$parent.node.children = this.$parent.node.children.filter(function(node) {
                    return node !== current_node;
                });
            }
        },

        editNode: function() {
            var name = prompt("Input the name of new node", this.node.name);
            if (!!name && !!name.trim()) {
                this.node.name = name.trim();
            }
        },

        nodeDown: function() {
            var index = this.$parent.node.children.indexOf(this.node)
                //如果是顶级节点，不会有父节点，indexof函数返回-1
            if (index > 0) { //非根节点
                var vm = this
                var current_node = vm.node;
                //从现有位置删除本节点
                vm.$parent.node.children = vm.$parent.node.children.filter(function(node) {
                    return node !== current_node;
                });
                //在当前节点的 兄节点的 子节点的最后 加入当前节点
                this.$parent.node.children[index - 1].children.push(current_node);
                this.$nextTick(function() { //当前节点获得焦点
                    var newindex = this.$parent.$children[index - 1].$children.length
                        //this.$parent.$children[index-1].$children[newindex-1].$el.getElementsByClassName("myinput")[0].focus()
                    this.setfocus(this.$parent.$children[index - 1].$children[newindex - 1])
                })
            }
        },

        setfocus: function(yuanshu) {
            yuanshu.$el.getElementsByClassName("myinput")[0].focus()
        },

        handleKeyDown: function(e) {
            
            if (e.keyCode == 9 && e.shiftKey) { //shift+tab
                console.log("abcdefg")
                event.preventDefault()  //取消默认时间
                var node_class_name = 'tree-line'
                var p1 = this.$parent
                var p2 = p1.$parent
                if (p2.$el.className == node_class_name) { //可以向上
                    var vm = this
                    var current_node = vm.node
                    var index = p2.node.children.indexOf(p1.node)
                        //从现有位置删除本节点
                    p1.node.children = p1.node.children.filter(function(node) {
                        return node !== current_node;
                    });
                    p2.node.children.splice(index + 1, 0, current_node)
                    this.$nextTick(function() { //当前节点获得焦点
                        // this.$parent.$parent.$children[index+1].$el.getElementsByClassName("myinput")[0].focus()
                        this.setfocus(this.$parent.$parent.$children[index + 1])
                    })
                }
                return
            }

            if (e.keyCode == 9) { //tab
                event.preventDefault()
                this.nodeDown()
                return
            }

            if (e.keyCode == 13) { //enter
                this.addNode()
                return
            }

            function fup(docNode) {
                var index = docNode.$children.length
                if (index > 0) {
                    return fup(docNode.$children[index - 1])
                } else {
                    return docNode
                }
            }

            function fdown(docNode) {
                var index = docNode.$parent.node.children.indexOf(docNode.node)
                var array_length = docNode.$parent.node.children.length - 1
                if (index < array_length) {
                    return docNode.$parent.$children[index + 1]
                }
                return fdown(docNode.$parent)
            }

            if (e.keyCode == 38) { //UP
                //获得当前节点的在父节点中的位置
                var index = this.$parent.node.children.indexOf(this.node)
                var docNode = this.$parent
                    //如果存在兄弟节点，递归查询兄弟节点最后一个子节点获得焦点
                    //如果不存在兄弟节点，则父节点获得焦点
                if (index > 0) {
                    docNode = fup(this.$parent.$children[index - 1])
                }
                this.setfocus(docNode)
            }

            if (e.keyCode == 40) { //Down
                var index = this.$parent.node.children.indexOf(this.node)
                var array_length = this.$parent.node.children.length - 1
                    //以下三个顺序不能乱。
                    //如果自己有子元素，折到自己子元素第一个
                    //如果自己有弟节点则到弟节点
                    //如果自己的父元素有弟节点，折到该元素
                if (this.node.children.length > 0) {
                    this.setfocus(this.$children[0])
                    return
                }
                this.setfocus(fdown(this))
            }

        },
    }
});

var Tree = Vue.extend({
    name: 'tree',
    props: ['node'],
    components: {
        'tree-node': TreeNode
    },
    template: '<tree-node :node.sync="node"></tree-node>',
});

var app = new Vue({
    el: '#app',
    data: {
        rootNode: {
            name: 'Root',
            isRoot:true,
            children: [{
                name: "first",
                children: [
                    ]
                }]
        },

        title: 'Vue 无限层级树增删改以及拖拽节点'
    },
    computed: {
        tree_json: function() {
            return JSON.stringify(this.rootNode);
        }
    },
    components: {
        'tree': Tree
    },
});
</script>
<html>
